<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Área de Login - eBET</title>
</head>
<body>
   <h1>Login</h1>
   <hr>
   <form action="/logar" method="post">
       <table>
           <tr>
               <td>Usuário:</td>
               <td><input type="text" name="username" size="20" maxlength="20" required/></td>
           </tr>
           <tr>
               <td>Senha:</td>
               <td><input type="text" name="senha" size="20" maxlength="20" required/></td>
           </tr>
       </table>
       <br/>
       <input type="submit" value="Login"/>
       </form>
       <hr/>
       <br/>
       [<a href="/cadastrar"> Não possui Cadastro? Clique Aqui! </a>]
       <br>
       [<a href="/go-to-tests"> Go to tests</a>]
</body>
</html>